:root {
    --main-color-brown: #442F25;
    --main-color-background: #442F25;
    --main-color-background2: #DEDDDA;
}

body {
    background-color: var(--main-color-background);
    font-size: 12pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--main-color-brown);
}

div.tdb-hero {
    height: 500px;
}

div.tdb-hero-bg {
    background-image: url("../content/images/hero.svg");
    background-size: cover;
}

div.tdb-hero-bg_logo {
    background-image: url("../content/images/header_logo.svg");
    height: 219px;
    background-size: contain;
    background-repeat: no-repeat;
}

div.tdb-hero-bg_contact {
    background-image: url("../content/images/header_Contact.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

div.filler {
    height: 2000px;
}

div.tdb-footer-text {
    text-align: center;
    padding-bottom: 10px;
}